{% extends "base_generic.html" %}

{% block login %}

    {% if form.errors %}
    <p>Neispravan unos!</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Vaš račun nema pristup ovoj stranici. Za nastavak, prijavite se s računom koji ima pristup.</p>
    {% else %}
    <p>Prijavite se kako biste vidjeli ovu stranicu.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td><label for="id_username">Korisničko ime:</label></td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td><label for="id_password">Lozinka:</label></td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="Prijavi se" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}