{% extends "base_generic.html" %}

{% block register %}

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
            <p>Došlo je do greške!</p>
        {% endif %}

        <table>
            <tr>
                <td><label for="id_username">Korisničko ime:</label></td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td><label for="id_password1">Lozinka:</label></td>
                <td>{{ form.password1 }}</td>
            </tr>
            <tr>
                <td><label for="id_password2">Potvrdite lozinku:</label></td>
                <td>{{ form.password2 }}</td>
            </tr>
        </table>
        <input type="submit" value="Registrirajte se" />
    </form>

{% endblock %}