{% extends "base_generic.html" %}

{% block register %}

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
            <p>Došlo je do greške!</p>
        {% endif %}

        <ul>
            <li><label for="id_username">Korisničko ime:</label><br>{{ form.username }}</li>
            <li><label for="id_password1">Lozinka:</label><br>{{ form.password1 }}</li>
            <li><label for="id_password2">Potvrdite lozinku:</label><br>{{ form.password2 }}</li>
        </ul>

        <input type="submit" value="Registrirajte se" />
    </form>

{% endblock %}