{% extends "base_generic.html" %}
{% block content %}
    <h2>Korisnikovi Recepti</h2>
    {% if user.is_authenticated %}
        <div >
            <button>
                <a href="/main/write_a_recipe">Napiši recept</a>
            </button>
        </div>
        <form method="GET" class="form-group">
            <input type="text" name="search_query" placeholder="Naziv recepta...">
            <button type="submit">Pretraži</button>
        <!-- </form>
        <form method="GET" class="form-group"> -->
            <select name="category">
                <option value="">Sve kategorije</option>
                <option value="drink">Piće</option>
                <option value="food">Hrana</option>
                <option value="medicine">Lijek</option>
            </select>
            <button type="submit">Filtriraj</button>
        </form>
        <hr>
        <div class="recipe-list">
            <ul>
                {% for recipe in filtered_recipes %}
                    <li>
                        <a href="{% url 'main:recipe' recipe_id=recipe.id %}" class="non-btn">„{{ recipe.name }}“</a>&nbsp;
                        <a href="{% url 'main:user_edit_recipe' recipe.id %}" class="btn btn-primary"><button>Uredi</button>
                        <a href="{% url 'main:user_delete_recipe' recipe.id %}" class="btn btn-primary"><button>Pobriši</button></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Niste prijavljeni!</p>
        <p><button><a href="/accounts/login">Prijavite se</a></button> kako biste vidjeli svoje recepete.</p>
    {% endif %}
{% endblock %}
