/* custom fonts */
@font-face {
    font-family: 'CustomFont1';
    src: url('../fonts/Sofia/Sofia-Regular.ttf');
}
@font-face {
    font-family: 'CustomFont2';
    src: url('../fonts/Itim/Itim-Regular.ttf');
}
:root {
    /* color pallete */
    --color-primary-dark: DarkSlateGray;
    --color-primary-light: LightYellow;
    --color-secondary-dark: DarkOliveGreen;;
    --color-secondary-light: LightSlateGray;

    /* time synchronization */
    --time-blink: 0.3s;

    /* space synchronization */
    --space-detail: 3px;
    --space-small: 9px;
    --space-medium: 27px;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'CustomFont1';
    text-align: center;
    margin: 0 0 var(--space-small);
}
p {
    display: flex;      
    justify-content: center;
    align-items: center;
    margin: 0;
}
input, select, textarea, button {
    font-family: 'CustomFont2';
    margin: var(--space-small);
}
ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}
a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    margin: var(--space-medium) 0;
    border-width: var(--space-detail);
}
form, button {
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: var(--space-small);
    flex-wrap: wrap;
}
.form-group {
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    margin: var(--space-detail);
}

/* BODY */
body {
    font-family: 'CustomFont2';
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    text-align: justify;
    margin: 0;
}

/* HEADER */
header {
    color: var(--color-primary-light);
    background-color: var(--color-secondary-dark);
    padding: var(--space-small);
}
/* authentification */
#authentification {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-wrap: nowrap;
}
/* navigation */
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav ul li a {
    padding: var(--space-small);
    text-wrap: nowrap;
    border-radius: var(--space-detail);
    transition: background-color var(--time-blink) ease, color var(--time-blink) ease;
}
nav ul li a:hover {
    color: var(--color-secondary-dark);
    background-color: var(--color-primary-light);
}

/* MAIN */
main {
    color: inherit;
    background-color: inherit;
    padding: var(--space-small) var(--space-medium);
}

.recipe-list {
    display: flex;
    margin: 0 var(--space-medium);
}
.recipe-list li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#recipe-writing-form {
    flex-direction: column;
    align-items: flex-start;
}

.flex-center {
    align-self: center;
}

/* FOOTER */
footer {
    color: var(--color-secondary-light);
    background-color: var(--color-primary-dark);
    text-align: center;
    padding: var(--space-small) var(--space-medium);
}

/* spice */
::selection {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
}