{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepti Ispod Sunca</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1">
    <link rel="icon" href="{% static 'images/favicon.ico' %}?v=1" type="image/x-icon">
</head>
<body>
    <header>
        <div id="authentification">
            {% if user.is_authenticated %}
            <p>Prijavljeni korisnik:&nbsp;</p>
            <p>{{ user.username }}</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Odjavite se">
            </form>
            {% else %}
                <nav>
                    <ul>
                        <li><a href="{% url 'login' %}">Prijava</a></li>
                        <li><a href="{% url 'register' %}">Registracija</a></li>
                    </ul>
                </nav>
            {% endif %}
        </div>
        <h1>Recepti Ispod Sunca</h1>
        <nav>
            <ul>
                <li><a href="{% url 'main:all_recipes' %}" class="{% if request.path == '/main/all_recipes' %}active{% endif %}">Svi Recepti</a></li>
                <li><a href="{% url 'main:user_recipes' %}" class="{% if request.path == '/main/user_recipes' %}active{% endif %}">Korisnikovi Recepti</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <h3>Propovjednik 1:9</h3>
        <p><i>„Što je bilo, opet će biti, i što se činilo, opet će se činiti, i nema ništa novo pod suncem.“</i></p>
    </footer>
    <script src="{% static 'js/script.js' %}?v=1"></script>
</body>
</html>
