{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepti Ispod Sunca</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Recepti Ispod Sunca</h1>
        {% if user.is_authenticated %}
            <p>Prijavljeni korisnik: {{ user.username }}</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Odjavi se">
            </form>
        {% else %}
            <ul>
                <li><a href="/accounts/login">Prijava</a></li>
                {% block login %}
                {% endblock %}
                <li><a href="/accounts/register">Registracija</a></li>
                {% block register %}
                {% endblock %}
            </ul>
        {% endif %}
        <nav>
            <ul>
                <li><a href="/main/homepage">Početna stranica</a></li>
                <li><a href="/main/recipes">Recepti</a></li>
                <li><a href="/main/write_a_recipe">Napiši recept</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p><i>Filip Kačić</i></p>
    </footer>
</body>
</html>